# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: true
cache: packages

addons:
  apt:
    packages:
      - libgdal-dev
      - libproj-dev

r_binary_packages:
- knitr
- leaflet
- ggplot2
- dplyr
- xtable
- data.table
- rgeos
- rgdal
- spdep




script:
- Rscript -e 'if (!requireNamespace("ASGS", quietly = TRUE)){tempf <- tempfile(fileext = ".tar.gz");download.file(url = "https://dl.dropbox.com/s/zmggqb1wmmv7mqe/ASGS_0.4.0.tar.gz",destfile = tempf);install.packages(tempf, repos=NULL, type="source")}'
- |
  R CMD build .
  travis_wait 30 mvn R CMD check *tar.gz
